.searchbar
    display: flex !important
    justify-content: space-between !important
    align-items: center !important
    .searchbar__btns
        padding-top: 10px

input
    height: 27px !important
    width: 350px !important
    border: 2px solid #ffffff !important
    background-color: transparent !important
    font-size: 30px !important
    padding: 15px !important
    outline: none !important
    color: #757575 !important
    margin-top: 30px !important
    margin-bottom: 20px

.common-btn
    background-color: transparent !important
    border: 2px solid #ffffff !important
    padding-bottom: 20px !important
    color: #757575 !important
    font-size: 30px !important
    height: 69px !important
    line-height: 32px !important
    padding-top: 15px !important
    outline: none !important
    cursor: pointer !important
    margin-left: 15px !important
    &:focus
        border: 2px solid red !important

.active-btn
    background-color: #36afdb
    color: #ffffff
